Practica 3/Practica 1/__pycache__/
Practica 3/ejercicio1_optimizado.ipynb
Practica 3/implementation_plan.md
Practica 3/q_learning_analysis.md
Practica 3/qlearning_utils.py
Practica 3/task.md
Practica 3/walkthrough.md
Practica 3/Practica 1/aichess copy.py
Practica 3/Practica 1/test_logic.py
