Practica 3/Practica 1/__pycache__/
Practica 3/ejercicio1_optimizado.ipynb
Practica 3/qlearning_utils.py
Practica 3/Practica 1/aichess copy.py
Practica 3/Practica 1/test_logic.py
Practica 3/ejercicio1 copy.ipynb
Practica 3/Practica 1/optimization.py
